{% extends 'infused/base.html' %}

{% block content %}
    <div style="text-align: center;">
        {% if searched %}
            <h1>You searched for {{ searched }}</h1>
            {% for channel in channels %}
                <li><h3>
                    <a href="{% url 'infused:channel' channel.id %}">
                        {{ channel }}</a>
                </h3></li>
            {% empty %}
                <br/><h3> There are no channels with that name.</h3>
            {% endfor %}
        {% else %}
            <h1> Hey, You forgot to search for a Channel...</h1>
        {% endif %}
    </div>
{% endblock content %}